.footer {
  background: url("../img/footer_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  .container {
    padding: 100px 0 250px 0;
    .row {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      .col {
        @media screen and (max-width: 480px) {
          text-align: center;
        }
        .title {
          @include textStyle($fs-7xl, $fw-bold, $text-white);
          line-height: $lh-4;
          margin-bottom: 20px;
        }
        .list-link {
          display: flex;
          flex-direction: column;
          .footer-link {
            @include textStyle($fs-3xl, $fw-light, $text-white);
            line-height: $lh-1;
            margin-top: 15px;
            transition: all 0.5s;
            cursor: pointer;
            &:hover {
              color: $text-gray;
            }
            svg {
              margin-right: 5px;
            }
            span {
            }
          }
          .list-info {
            margin-top: 25px;
            .footer-link {
              svg {
                transition: all 0.5s;
                &:hover {
                  color: $text-black;
                }
              }
            }
          }
        }
        input {
          @extend .btn-primary;
          background: $bg-primary;
          &::placeholder {
            color: $text-white;
            text-align: center;
          }
          &:focus {
            background: $bg-primary;
            color: $text-white;
            border: none;
            outline: none;
            border: 1px solid $text-white;
          }
          &:hover {
            color: $text-white;
            background: $bg-primary;
          }
        }
        button {
          @extend .btn-primary;
          background: $bg-white;
          color: $text-black;
          display: block;
          margin-top: 15px;
          width: 100%;
        }
      }
    }
  }
}
